body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-2 {
    position: relative;
    height: 120vh; 
    width: 100%;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    z-index: -1;
}

.squiggly-line {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    max-width: 100%;
}

.lines {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.squiggly-line-top {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 3;
}

.circle{
    position: absolute;
    left: 62%;
    bottom: 23%;
    width: 11%;
    z-index: 3
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.header img {
    height: 28px;
    margin-right: 10px;
}

.tagline {
    text-align: center;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.tagline-1 {
    text-align: center;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
    opacity: 0.5;
}

.name{
    text-align: center;
    position: absolute;
    top: 38%;
    left:30%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.name-box{
    text-align: center;
    position: absolute;
    top: 43%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-1{
    text-align: center;
    position: absolute;
    top: 38%;
    left: 53%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.name-box-1{
    text-align: center;
    position: absolute;
    top: 43%;
    left: 59.5%;
    transform: translateX(-50%);
    z-index: 5;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email{
    text-align: center;
    position: absolute;
    top: 53%;
    left:31%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.email-box{
    text-align: center;
    position: absolute;
    top: 59%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    text-align: center;
    position: absolute;
    top: 53%;
    left: 56.9%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.number-box{
    text-align: center;
    position: absolute;
    top: 59%;
    left: 59.5%;
    transform: translateX(-50%);
    z-index: 5;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dob{
    text-align: center;
    position: absolute;
    top: 68%;
    left:34%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.dob-box{
    text-align: center;
    position: absolute;
    top: 73.9%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country{
    text-align: center;
    position: absolute;
    top: 68%;
    left: 53.7%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.country-box{
    text-align: center;
    position: absolute;
    top: 73.9%;
    left: 59.5%;
    transform: translateX(-50%);
    z-index: 5;
    height: 40px;
    width: 285px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password{
    text-align: center;
    position: absolute;
    top: 82.5%;
    left: 29.5%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.password-box{
    text-align: center;
    position: absolute;
    top: 88%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm-password{
    text-align: center;
    position: absolute;
    top: 82.5%;
    left: 55%;
    transform: translateX(-50%);
    z-index: 3;
    color: white;
    font-size: 17px;
}

.confirm-password-box{
    text-align: center;
    position: absolute;
    top: 88%;
    left: 59.5%;
    transform: translateX(-50%);
    z-index: 5;
    height: 40px;
    width: 285px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cancel{
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 98%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 3;
    height: 37px;
    width: 280px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}

.confirm{
    color: white;
    font-size: 17px;
    background-color: #2439a5;
    text-align: center;
    position: absolute;
    top: 98%;
    left: 59.5%;
    transform: translateX(-50%);
    z-index: 5;
    height: 40px;
    width: 285px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-btn-1{
    text-align: center;
    position: absolute;
    top: 108%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    cursor: pointer; 
    background: none; 
    border: none;      
    font-size: 17px;
    
}

.login-btn{
    color: #2f49ce;
    text-decoration: none;
}

.name-box, .email-box, .number-box, .name-box-1, .dob-box, .country-box, .password-box, .confirm-password-box {
    background-color: rgba(255, 255, 255, 0.2); 
    border: 0.5px solid white;
    color: rgb(255, 255, 255); 
    font-size: 17px;
}

